<ul class="social-networks spin-icon">
    <li><a href="https://www.linkedin.com/" class="icon-linkedin">LinkedIn</a></li>
    <li><a href="https://twitter.com/" class="icon-twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/" class="icon-facebook">Facebook</a></li>
    <li><a href="https://twitch.tv" class="icon-twitch">Twitch</a></li>
    <li><a href="https://github.com" class="icon-github">GitHub</a></li>
    <li><a href="https://pinterest.com" class="icon-pinterest">Pinterest</a></li>
    <li><a href="https://instagram.com" class="icon-instagram">Instagram</a></li>
    <li><a href="https://vimeo.com" class="icon-vimeo">Vimeo</a></li>
</ul>